# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

*.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1
*recommenders